"target/" | Out-File .gitignore -Encoding utf8
".idea/" | Out-File .gitignore -Append -Encoding utf8
"*.iml" | Out-File .gitignore -Append -Encoding utf8
".DS_Store" | Ogit add .ut-File .gitignore -Append -Encoding utf8